#bookingHeaderDiv {
	width: 1430px;
	height: 110px;
	background-color: #1F2533;
	position: fixed;
	top : 0;
	left: 0;
	display: inline-flex;
}
#movieTitle span {
	color: #49BA8E;
	font-size: 28px;
	height: 110px;
	width: 200px;
	line-height: 110px;
	text-align: center;
	letter-spacing: 2px;
	margin-left: 10px;
}

#ticketCount {
	margin-left: 340px;
}

#ticketCount h5 {
	color: #AAABB0;
	text-transform: uppercase;
	margin-top: 30px;
}

#totalPriceDiv {
	margin-left: 500px;
	margin-top: 20px;
}

#showtime {
	margin-left: 30px;
}

.priceClass{
	color: white;
}

#proceedButton {
	background-color: red;
	width: 130px;
	height: 40px;
	line-height: 40px;
	color: white;
	text-align: center;
	margin-top: 10px;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: none;
}

#showtime h5 {
	color: #AAABB0;
	text-transform: uppercase;
	margin-top: 30px;
}

#showTime div {
	width: 100px;
	height: 28px;
	background-color: #49BA8E;
	color: white;
	margin-top: -10px;
	border-radius: 8px;
	line-height: 28px;
	text-align: center;
}

#seatSelect {
	border : 2px solid white;
	width: 100px;
	height: 28px;
	padding-bottom: 30px;
	margin-top: -10px;
}

#numberOfTickets {
	position: absolute;
	z-index: 100;
	width: 550px;
	height: 200px;
	margin-left: 400px;
	margin-top: 130px;
}

.ticketHeader {
	background-color: #1F2533;
	color: #49BA8E;
	width: 550px;
	height: 80px;
	line-height: 80px;
	text-align: center;
}
#ticketCounter {
	background-color: #F2F2F2;
	width: 550px;
	height: 240px;
}

#ticketCounter table {
	width: 500px;
	height: 80px;
	
	margin-left: 25px;
	padding-top: 25px;
	margin-bottom: 20px;
}

#ticketCounter td {
	width: 50px;
	height: 40px;
	text-align: center;
	margin-left: 30px;
	background-color: white;
}

.ticketHeader span {
	letter-spacing: 2px;
	text-transform: uppercase;
}

#seatLayoutDiv {
	position: relative;
	width: 1400px;
	height: 600px;
	left : 0;
	top : 0;
	color: green;
	margin-top: 120px;
	opacity: 0.1;
}

#seatLayout {
	width: 600px;
	height: 600px;
	margin-left: 400px;
	
}


#firstDiv {
	text-align: center;
	color: #5B5B5B;
	margin-top: 14px;
	letter-spacing: 2px;
}

#premiumDiv {
	text-align: center;
	color: #5B5B5B;
	letter-spacing: 2px;
}
#executiveDiv {
	text-align: center;
	color: #5B5B5B;
	letter-spacing: 2px;
}
#normalDiv {
	text-align: center;
	color: #5B5B5B;
	letter-spacing: 2px;
}
.seatDiv {
	width: 600px;
	height: 30px;
	
}

.seatDiv td {
	border-spacing: 10px;
	width: 25px;
	height: 25px;
	padding-right: 15px;
	line-height: 25px;
	text-align: center;
	padding-left: 5px;
}

.rowAlphabet {
	color : #C1C1C1;
}

.seatAlphabet {
	color: #C1C1C1;
	border : 1px solid green;
	border-radius: 3px;
}

#screenDiv {
	width: 400px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	margin-left: 80px;
	background-color: #F4F4F4;
	color: black;
	font-family: Montserrat,sans-serif;
}

#screenDiv span {
}

#
#imageTicketCount  {
}

#imageTicketCount img {
	width: 100px;
	height: 100px;
	margin-left: 240px;
}